@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

html {
    --bg-color: #254180;
    --font-color: #ff914d;
    --p-color: #fff;
}

body {
    background: var(--bg-color);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

header {
    border-bottom: 4px dashed var(--font-color);
    padding-bottom: 15px;
}

header h1 {
    color: var(--font-color);
    font-size: 4rem;
}

header p {
    color: var(--p-color);
    font-size: 1rem;
}

header a {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
    color: var(--p-color);
}

.screen {
    width: 90vw;
    height: 50px;
    color: var(--font-color);
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}

